@using CarsCompare.UI.ViewModels
@model HomeIndexViewModel

@{
    ViewBag.Title = "CarsCompare - Главная страница";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <select class="form-control selectpicker" data-width="100%" title="Выберите бренд..." name="brands[]">
                <option value="title">Выберите бренд...</option>
                @foreach (var item in Model.Brands)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>

        <div class="col-md-4">
            <select class="form-control selectpicker" data-width="100%" title="Выберите модель..." name="models[]">
                <option value="title">Выберите модель...</option>
                @foreach (var item in Model.Models)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>

        <div class="col-md-4">
            <select class="form-control selectpicker" data-width="100%" title="Выберите модификацию..." name="modifies[]">
                <option value="title">Выберите модификацию...</option>
                @foreach (var item in Model.Modifies)
                {
                    <option value="@item.Id">@item.Name (@item.YearFrom - @item.YearTo)</option>
                }
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <select class="form-control selectpicker" data-width="100%" title="Выберите версию..." name="versions[]">
                <option value="title">Выберите версию...</option>
                @foreach (var item in Model.Versions)
                {
                    <option value="@item.Id">@item.Name (@item.Gen + @item.Mod)</option>
                }
            </select>
        </div>

        <div class="col-md-4">
            <select class="form-control selectpicker" data-width="100%" title="Выберите группу параметров..." name="paramGroups[]">
                <option value="title">Выберите группу параметров...</option>
                @foreach (var item in Model.ParamGroups)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>            
        </div>

        <div class="col-md-4">
            <select class="form-control selectpicker" data-width="100%" title="Выберите название параметра..." name="paramNames[]">
                <option value="title">Выберите название параметра...</option>
                @foreach (var item in Model.ParamNames)
                {
                    <option value="@item.Id">@item.Name (@item.Units)</option>
                }
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <select class="form-control selectpicker" data-width="100%" title="Выберите параметр..." name="params[]">
                <option value="title">Выберите параметр...</option>
                @foreach (var item in Model.Params)
                {
                    <option value="@item.Id">@item.Value</option>
                }
            </select>
        </div>
    </div>
</div>